name: Build

on:
  workflow_dispatch:
  workflow_call:
  # push:
  #     tags:
  #       - '*'

jobs:
  build:
    name: Build (Nexus)
    env:
      RUSTFLAGS: -Awarnings
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1.14.1
        with:
          # on linux, it seems Nexus only recognizes the dll built with msvc
          toolchain: nightly
          target: x86_64-pc-windows-msvc
      - run: rustup target add x86_64-pc-windows-gnu
      - run: cargo build --target x86_64-pc-windows-msvc --release --features nexus

      # Upload the built DLL as an artifact. This can be downloaded from the Actions tab.
      # The artifact can be found under the "Artifacts" section of the workflow run.
      # You can just bundle this with the necessary files for a release.
      - name: Upload built DLL (Nexus version)
        uses: actions/upload-artifact@v4
        with:
          name: external_dx11_overlay_nexus.dll
          path: target/x86_64-pc-windows-msvc/release/external_dx11_overlay.dll

      # Create a GitHub release and upload the built DLL
      # commented out for now, as releases are done manually with zipping the necessary files
      # - name: Upload files to a GitHub release
      #   uses: svenstaro/upload-release-action@2.11.2
      #   with:
      #     file: target/x86_64-pc-windows-msvc/release/external_dx11_overlay.dll
      #     release_name: BlishHUD for Linux / Mac / Steam Deck
      #     asset_name: external_dx11_overlay_nexus.dll
      #     tag: ${{ github.ref }}
      #     overwrite: true
      #     body: |
      #       For more information on how to use, see this user-friendly guide
      #       Everything is pre-compiled and comes pre-packaged with the necessary forked version of BlishHUD.
      #       There is a version of the dll that is compatible with the Nexus addon loader & manager.
